
.navbar {
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown .dropdown-image {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-image {
    display: block;
}

.dropdown-image img {
    width: 200px;
    height: auto;
}


.barware .dropdown-image {
    background-color: #f0f0f0;
}

.dinnerware .dropdown-image {
    background-color: #e0e0e0;
}

.gifting .dropdown-image {
    background-color: #d0d0d0;
}

.deals .dropdown-image {
    background-color: #c0c0c0;
}